
/* Common Styles */
.btn{
    line-height: 33px;
    min-height: 50px;
    border-radius: 40px;
    padding: 10px 30px;
    text-transform: uppercase;
    font-weight: 500;
}
.btn-primary{
    background-color: #5faa37;
    border-color: #5faa37;
    color:#fff
}
.btn-secondary{
    background-color: #0068ff;
    border-color:#0068ff;
}

.primary-color{
    color:#5faa37
}
.secondary-color{
    color:#0068ff
}
/* header */
.main-header {
    position: fixed;
    width: 100%;
    z-index: 999;
}
.main-header .navbar-nav{
    align-items: center;
}
.main-header .nav-link {
    padding: 10px 20px;
    margin: 0 10px;
    color: #fff;
}
.main-header nav{
    padding: 15px 0;
    border-bottom: 1px solid #ccc;  
}
/* Header ends */

/* Banner */
.home-banner{    
    background: url('../img/homepage-banner-c4fa88e01600255e68dacedd5aca1be04c1361b0c871e58746dca0617239c212.jpg');
    /* background: url('../img/banner.jpg'); */
    background-size: cover;
    height: 100vh;
}
.home-banner:before{
    content:'';
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .2;
}
.banner-content{
    text-align: center;
    padding-top:150px;
    position: relative;
}
.banner-content h1{
    font-size: 50px;
    text-transform: uppercase;
    position: relative;
    font-weight: 400;
    /* text-shadow: 2px 2px white; */
}
.banner-content .slider-big-text {
    font-size: 5.5rem;
    color: white;
    font-weight: 700;
}
.search-tab{
    position: relative;
}
.banner-content:before {
    background: #FFFFFF00;
    opacity: 0.8;
    filter: blur(320px);
    /* filter: blur(60px); */
    border-radius: 2px;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
}

.search-tab .nav-tabs {
    justify-content: center;
    margin-top: 50px;
    display: inline-flex;
}
.search-tab .nav-tabs .nav-link {
    padding: 10px 30px;
    min-width: 100px;
    color: #000;
   
    font-weight: 500;
}

.search-tab .nav-tabs > .nav-item:not(:first-child) {
    border-left: 1px solid #fff;
}
.search-tab .nav-tabs .nav-link.active {
    border-color: transparent!important;
}
.search-tab .nav-tabs .nav-item.show .nav-link, 
.search-tab  .nav-tabs .nav-link.active{
    background-color:#5faa37 ;
    color: #fff;
}

.search-tab  .nav-tabs .nav-link {
    background: rgba(67,67,67,0.82);
    /* border:none; */
    border-top-left-radius: 0px;
    border-top-right-radius:0px;
    border-bottom:none!important;
    color:white;
}
.search-tab .nav-tabs .nav-link:hover {
    background: rgb(95 170 55);
    border:none;
    border-bottom:none!important;
}

.search-tab .tour-search-field:focus {
    outline:none!important;    
}

.search-tab .tour-search-field {
    border-radius: 10px;
    border-color: transparent;
    box-shadow: none;
    padding-left: 25px;
    width: 80%;
    display: inline-block;
    height: unset;
    font-size: 1.3rem;
    padding-right: 60px;
    padding: 10px;
    background: none 0% 0% / auto repeat scroll padding-box border-box rgb(255, 255, 255);
}



.search-tab .nav-tabs > .nav-item:first-child >.nav-link {
    /* border-bottom-left-radius: 8px; */
    border:none!important;
    border-top-left-radius: 8px;
}

.search-tab .nav-tabs > .nav-item:last-child >.nav-link {
    /* border-bottom-right-radius: 8px; */
    border-top-right-radius: 8px;
}

@media  (max-width:768px){
    div#navbarCollapse {
        position: fixed;
        top: 0;
        left: -100%;
        width: 256px;
        height: 100%;
        transition: all .3s ease-in-out;
        background-color: #fff;
        z-index: 9;
        padding: 15px 30px;
        box-shadow: 2px 0 9px 0 #0000003d;
    }
    div#navbarCollapse.show {
        left: 0;
        transition: all .3s ease-in-out;
        align-items: flex-start;
    }
}